 /*variaveis*/
 :root{
    --margem:50px;
    --tamanho:250px;
    --distTexto:10px;
    --distTab:0 0 30px 0;
 }
 
 
 /* deixar td no jeito */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 /* fundo */
body {
    background-color: #1b1b1b;
    font-family: "Trebuchet MS", sans-serif;

}

 /*cabeçario*/
.header {
    background-image: url("imagems/fundo.jpg");
    background-color: rgb(69, 138, 109);
    padding: 20px 40px;
    /* alinhar td */
    display:flex;
    height: 110px;
    align-items: center;
    justify-content: space-between;
}

 /* logo */
.logo img{
    border: solid 2px;
    border-radius: 35px;
    height: 100px;
    box-shadow: 2px 2px 20px rgb(0, 0, 0);
}

 /* distancia os botão */
.nav-links {
    display: flex;
    gap: 40px;
}

 /* botões */
.nav-links a {
    position: relative;
    border: solid 2px rgb(0, 0, 0);
    padding: 8px;
    border-radius: 15px;
    background-color: rgb(187, 250, 236);
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
}

/* hover do mouse*/
.nav-links a:hover {
    background-color: rgb(152, 227, 209);
    color: #000;
}

/*sobre nós*/
.sobre-nos {
    text-align: center;
    display:block;
    border: solid 2px rgb(187, 250, 236);
    border-radius: 50px;
    background-image: url("imagems/fundo.jpg");
    width: 840px;
    height: 390px;
    /* centraliza tudo */
    margin: 40px auto;
}

.paralax{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 130%;
    background: linear-gradient(180deg, rgb(187, 250, 246), rgb(18, 77, 65)); /* azul → roxo */
    z-index: -1;
    animation: gradientMove 10s infinite alternate;
}
/*separação*/
.linhaProd{
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: solid 10px;
    margin:20px 0;
    font-size: 20px;
}
.linhaProd::before,
.linhaProd::after {
    content: "";
    flex: 1;
    margin: 0 50px;
    border-bottom: 4px solid rgb(0, 238, 255);
}

.linhaProd::before {
    margin-right: 20px;
}
.linhaProd::after {
    margin-left: 20px;
}
/*fim da separação*/

/*Exibição de produtos*/
.area{
    position: relative;
    top: var(--distTab);
    display: flex;
    align-items: center;
    margin: var(--distTab);
}

.desc{
    text-align: right;
    flex:1;
    padding: var(--distTexto)
}

.prod {
    margin: var(--margem);
    width: var(--tamanho);
    height: var(--tamanho);
    background-image: url(imagems/foto1.jpg);
    background-size: cover;
    background-position: center;
}

.area2 {
    flex-direction: row-reverse;
    height: var(--tamanho);
    display: flex;
    margin: var(--distTab);
    align-items: center;
}
.prod2 {
    margin: var(--margem);
    height: var(--tamanho);
    width: var(--tamanho);
    background-size: cover;
    background-position: left;
    background-image: url(imagems/foto2.jpg);
}

.desc2{
    flex: 1;
    padding: var(--distTexto);
}

.area3 {
    height: var(--tamanho);
    display: flex;
    align-items: center;
    margin: var(--distTab);
}

.prod3{
    margin: var(--margem);
    height: var(--tamanho);
    width: var(--tamanho);
    background-image: url(imagems/foto3.jpg);
    background-position: center;
    background-size: cover;
}

.desc3 {
    text-align: right;
    flex: 1;
    padding: var(--distTexto);
}

.area4 {
    height: var(--tamanho);
    display:flex;
    align-items: center;
    flex-direction: row-reverse;
}

.prod4{
    width: var(--tamanho);
    height: var(--tamanho);
    background-size: cover;
    background-position: center;
    background-image: url(imagems/foto4.jpg);
    margin: var(--margem);
}

.desc4{
    flex:1;
    padding: var(--distTexto);
}

.area5 {
    height: var(--tamanho);
    display: flex;
    align-items: center;
    margin: var(--distTab);
}

.prod5{
    margin: var(--margem);
    height: var(--tamanho);
    width: var(--tamanho);
    background-image: url(imagems/foto5.jpg);
    background-position: center;
    background-size: cover;
}

.desc5 {
    text-align: right;
    flex: 1;
    padding: var(--distTexto);
}
/*Formatação dos produtos*/
.foto{
    border-radius: 40px 0;
    border: solid 5px rgb(124, 106, 228);
    border-style:groove;
    box-shadow: inset 0px 0px 20px  rgb(150, 132, 250);
}

.texto {
    font-size: 27px;
    background: linear-gradient(180deg, rgb(134, 168, 241), rgb(61, 122, 235));
    border-radius: 20px;
}

/*
....................................................................................................
....................................................................................................
..............................................:.....................................................
.........................................:.:*#+.....................................................
.......................................:-*##%%%##%-:+==-.:=--:=-*+-::...............................
....................................-:+##%%%@%@@%@@@##%#%#%#%%%%%%%%%+-.............................
................................::-=**#*+**##***#%@@@%%%%%%%%%%@@%%%%%%#-...........................
..............................=+*####*#***+++*#%%%%@@%###%%%%%%%%%%%%@%%%+-.........................
..........................:+*+*#*##*+++*#%%%%%%%%%%%@@%####%%%%@%%%%%%%%%*:.........................
......................:=+**##*###%%+=-=====++*++++*#%%%%%%%%@@@%%%%%%@@%%@+.........................
...................==+*#%%%%%%#%%%%#++++====*#%%#**#%%%%%%%@@@@@%%@@@%%%%@@=........................
................===#%##%@%%@%%%%@@@%***=-==+*##%%#*%%%%%%%%@@@@@@@@@%@@@%%@%-.......................
................=%%%%@@@@@@@%%@@%@@@**=====++**####%%%%%%%@@@@@@@@@@@%%%%@@%+.......................
................:*#%@@@@@@@@@@@%%@@@%*+==+**#####%%%%%%%%%@@@@@@@@@@@@@@@@@@%-......................
.................=*%%@@@@@@@@@@@@@@@@%*+++*#####%%%%%#%%%@@@@@@@@@@@@@@@@@@%%#=.....................
................-++*%%@@@@@@@@%%@@@@@@%****####%%%%%%%%@@@@@@@@@@@@@@@@@@@@%%%%*:...................
..............:=+++*##%%@@@@@@@@@@@@%%%%######%%%%%%%%@@@@@@@@@@@@@@@@@@@@%%%#%%%=..................
............:=++++++**#%@%%%@@@@@@@%@@@@@%###%%%%%@@@@@@@@@@@@@@@@@@@@@@@@%####%%%=.................
...........-==+++++***##@%%%@@%@%%%%@%%%@@@@@%@@@@@@@@@@@@@@@@@@@@@@@@@@%%######%%#=................
..........-==+=+++++***###%%%@%%@%@@%%%%%%%@%%%%@@@@@@@@@@@@@@@@@@@@@@+%%%%%##%%%%%#-...............
........:==+++**++****###%%@@%@@@%@@@%%%%%%@%%%%%@@@@@@@@@@@@@@@@@@@+:.:+%%%%%%%%%%%*:..............
.......-=+++**###****###%%%@%%%@@%@@%@%%%%%%%%@@@@@%%@@@@@@@@@@@@@**.....-#%#%#%%%%%%+..............
......-+++++**##%%#######%%%%%%%%@@@%@%%%@@@@@@@@@@@@@@@@@@@@@@@@#:........-########%%-.............
.....-==++++**##%%%%#####%###@%@@@@@%@%%%@@@@@@@@@@@@@@@@@@@@@@@@#-..........-*#####%%#.............
....:===+++***##%@@%###+:.-###%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%+............:+#####%+............
....-==+++++***#%%%%-.....=**#%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*:..............-####%:...........
....-==+++++***#%%%#.....-#*#%%@@@%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%+...............:+##%:...........
....-==++++****#%%%=.....*####%%%%@@@@@@@@@@@@@@@@@@@@@@@@@%%@@@@@#=................-###............
....-==++++***##%%*......*####%%%%%%@@@@@@@@@@@@@@@@@@@@%@@@@@%@@@#:.............:***##*............
....:==++++++*#%%*.......=####%%%@%@@@@@@@@@@@@@@%@@@@@@%@@@%@%@%%*:.............=*##%##............
.....======++*###:.......*#####%%%%@@@@@@@@@@@@@@%%%%%%%%%@%%%%%%%#:...............+%#%+............
.....:=++++++*##-........-=#####%%%%@@@%%@@@@@@%%%%%%%#%%%####%#%%%-................:=:.............
......-+++++*##=..........+*####%%%%%%%%%%%%%%%%%%%%###**########%=.................................
......:===++***+:.........=+++*#%%%%%%%%%%%%%%%%*%%######*#########=................................
......-+===##*==+=........=++***##%#--::-=+=:=+*:-+:..-*%########*-.................................
......=++*+*:...=*........-***#####*....................+#######%%+.................................
......*+++=+*..............:*######-.....................-*#####%%*:................................
.....:***+==*:...............=%%%#-..................::---+#**###%#+++++++++++++++==-::.............
......=+***:.................-*%%*.....:-=+**#####%%%%%%%%%%###*#%%%%%%%%%%########%##%%####**=.....
.......:++-...............:=+*%@%**###%%%%%%%%%%%%%%%%%%%%%%%%#*#%%%%%%%%%%%%%%%%%%%%%%%%%%##+=:....
.......................-***#%@@@@@%@%%%%%%%%%%%%%%%%%%%%%%%%%%%###%%%%%%%%%%%%%%%%%%%%#*-...........
.......................:=*%%%%%%@@%@@@@@@@@@@@@@@@%%%%%%%%%%%%%##**#%%%%%#**+-:.....................
..................:=*%%%%%%%%%%%%%%%%%%##**#############%%%@@@@@%#####*-............................
.................=#%%%%%%%%%%%%%%#=:::::::::::::::::::::::::---:-++*+++-............................
................=#%%%%%%%%%%%%%*-...................................................................
................=#%%%%%%%%%%#=:.....................................................................
................-#%%%%%%%%+:........................................................................
...............=#%%%%%#+=#%*:.......................................................................
..............:*####%%=.............................................................................
....................................................................................................
.................................................................................................... */

